@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import "./reset.css";
@import "./variable.css";

/* components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/nav-bar__main.css";
/* screens */
@import "./screens/login.css";
@import "./screens/home.css";
@import "./screens/point.css";

body{
    font-family: 'Open Sans', sans-serif;
}

