.welcome-header-home {
    margin: 150px 0px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__home-title {
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 5px;
    background: linear-gradient(315deg, #11998e, #38ef7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#home-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#home-form input {
    padding: 20px 0px;
    border: none;
    font-size: 15px;
    border: 1px solid var(--emerald);
    border-radius: 5px;
}

#home-form input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    padding: 0px 20px;
}

#home-form i {
    position: absolute;
    right: 50px;
    top: 343px;
    color: var(--emerald);
}

#text-form {
    text-align: center;
    justify-content: center;
    line-height: 1.4;
    margin-top: 20px;
}

.text-form__column-first__text {
    color: gray;
    font-weight: 500;
    opacity: 0.9;
    font-size: 14px;
}

.text-form__column-second__text {
    font-weight: 500;
    font-size: 17px;
}

.text-form__column-second__text spring {
    color: #51c2d5;
    font-weight: 600;
}

.text-form__column img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 400px;
    right: 60px;
    border-radius: 50%;
}

#skyblue {
    margin-top: 150px;
    background-color: skyblue;
    background: linear-gradient(180deg, white, #a4ebf3);
    width: 100%;
    height: 100%;
    position: fixed;
}

.main {
    background-color: #ffffff;
    margin: 50% 10px 0px 10px;
    padding: 40px;
    width: 80%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    position: relative;
}

.main-compoent__column--left{
    display: flex;
}

.main-compoent__column--left__img i {
    color: #7ab7ff;
    margin-right: 8px;
}

.main-compoent__column--right {
    position: absolute;
    top: 35px;
    right: 100px;
    display: flex;
}

.main-compoent__column--right__text h3 {
    margin-bottom: 3px;
    font-weight: bold;
    color: red;
}

.main-compoent__column--right__text p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.2;
}

.main-compoent__column--right__img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    margin-left: 10px;
}

.main-compoent__column--right__img-second img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    margin-left: 80px;
}

#home__widget {
    padding: 15px 18px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    bottom: 90px;
    left: 20px;
}

#home__widget i {
    color: rgba(0, 0, 0, 0.7);
}

