.welcome-header {
    margin-top: 90px;
    text-align: center;
    font-weight: 600;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text {
    opacity: 0.5;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 90px 30px 0px 30px;
}

#login-form input {
    padding: 15px 0px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.8s ease-in-out;
}


#login-form input:focus {
    border-color: var(--green);
}


#login-form input[type="submit"] {
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 110%);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
    transition: border-color 0.8s ease-in-out;
}



#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}