.welcome-header {
    margin: 90px 0px;
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text {
    opacity: 0.5;
    width: 60%;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    padding: 15px 0px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
    border-color: var(--green);
}

#login-form input[type="submit"] {
    background-color: var(--green);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}