.status-bar__sub-point {
    display: flex;
    justify-content: center;
}

.status-bar__sub__column-point__logo {
    position: relative;
    margin: 20px 180px;
    display: flex;
    align-items: center;
}

.status-bar__sub__column-point__logo span {
    font-size: 25px;
    margin-left: 8px;
}

.header-category ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 16px 45px;
    font-size: 20px;
    font-weight: 500;
}

.header-category span {
    border-bottom: 3px solid #222;
    padding: 0px 0px 12px 0px;
}

.header-category li {
    opacity: 0.4;
}

#header-category__red-dot {
    background-color: red;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    right: 53%;
    top: 12%;
}

.bubble {
    position: absolute;
    width: 205px;
    height: 35px;
    padding: 0px;
    background: linear-gradient(310deg, #007adf 0%, #00ecbc 150%);
    border-radius: 5px;
    right: 60px;
    top: 45px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 0px 11px 10px;
    border-color: transparent #007adf;
    display: block;
    width: 0;
    z-index: 1;
    right: -10px;
    top: 6px;
}

.bubble span {
    font-size: 15px;
    color: #ffffff;
    position: absolute;
    right: 8px;
    top: 10px;
}

.main {
    margin: 0px 0px;
}

.main-banner__column--first {
    background: linear-gradient(310deg, #007adf 0%, #00ecbc 150%);
    width: 100%;
    padding: 100px 7px;
    border-radius: 15px;
}

.main-banner__column--first__left {
    display: flex;
    align-items: center;
}

.main-banner__column--first__left p {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 2px 4px;
    margin-right: 8px;
}
                                        
.main-banner__column--first__left span {
    color: #ffffff;
}

.main-banner__column--first__left i {
    color: #ffffff;
    margin-left: 8px;
}

.main-banner__column--first__left span {
    color: #ffffff;
}