
.nav__outcircle--point {
    position: absolute;
    background-color: var(--green);
    width:30px;
    height:30px;
    border-radius: 50px;
    right: -26px;
    bottom: -12px;
    border: 8px solid #222;
}

.nav__outcircle--point {
        background: linear-gradient(45deg,#08AEEA 0%, #2AF598 100%);
        background-size: 400% 100%;
        animation: gradient 7s linear infinite;
        animation-direction: alternate;
    }
    @keyframes gradient {
        0% {background-position: 0%}
        100% {background-position: 100%}
    }

#incircle--home {
    margin: 10px auto;
    background-color: #222;
    width:12px;
    height:12px;
    border-radius: 25px;
}

#nav__link--btn {
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #ffffff;
    padding: 3px 4px;
    top: -6px;
    left: -10px;
    justify-content: center;
    text-align: center;
    position: absolute;
    color: gray;
    border-color: gray;
}